*{
    font-family: 'DungGeunMo-Regular', sans-serif;
}

body{
    background:#BDBDBD;
}

.main-title-wrapper {
    position: relative;
}

.main-title-wrapper h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 70px;
}

.main-title-wrapper .add-btn{
    width: fit-content;
    padding: 10px 25px;
    background: #366176;
    border:3px solid;
    border-color:white black black white ;
    color: black;
    font-weight:700;
    font-size: 18px;
    position: absolute;
    right: 120px;
    top: 0;
    cursor: pointer;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.card-container .card-wrapper{
    position: relative;
    width: 30.3%;
    margin-right: 3%;
    height: 350px;
    margin-bottom: 100px;
    cursor: pointer;
    border:3px solid;
    border-color:white black black white ;
    background:white;
}

.card-title-wrapper{
    background: #01027B;
    border-bottom:2px solid black;
}

.card-wrapper .title{
    font-size: 28px;
    font-weight: 700;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.card-wrapper .time-view-wrapper{
    display:flex;
    justify-content:space-between;
    margin:0 15px 15px 15px;
}

.card-wrapper .time-view-wrapper .time, .view-count{
    background:#B8B8B8;
    padding:3px 8px 3px 8px;
}

.card-wrapper .content{
   margin:10px;
}

/*삭제버튼*/
 .cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 50px;
    z-index: 100;
    border:1px solid black;
    position:absolute;
}

.cancel-btn .btn-bg{
    border:1px solid white;
    position:relative;
}
